<div class="footer-banner">
    <!-- Contact Column -->
    <div class="contact">
        <p class="source-text">Contact</p>
        <p>Email: info@example.com</p>
        <p>Phone: (123) 456-7890</p>
    </div>

    <!-- Resources Column -->
        <div class="resources">
            <p class="source-text">Resources:</p>
            <img src="/resources/nfpa.png" alt="NFPA Logo" class="nfpalogo">
            <img src="/resources/wholebanner.png" alt="Whole Banner Logo" class="nfpalogo">
    </div>

    <!-- Collaboration Column -->
    <div class="colab">
        <p class="source-text">In collaboration with:</p>
        <img src="/resources/microsoftlogo.png" alt="Microsoft Logo" class="microsoftlogo">
        <img src="/resources/wsulogo.png" alt="WSU Logo" class="wsulogo">
    </div>
</div>
