<div class="subscribe-banner">
    <div class = "subscribeHorizontal">
        <p class="subscribe-text">Would you like to be notified if your home is at risk of a wildfire?</p>
        <a href="signup.ejs"><button  class="subscribe-button">Subscribe</button></a>
    </div>
</div>
