<!-- top-banner.ejs -->
<div class="top-banner-wrapper">
    <header class="top-banner">
        <div class="menu-icon" onclick="toggleNav()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <a href="/">
            <img src="/resources/osiris.png" alt="Osiris Logo" class="header-logo">
        </a>
    </header>
    <div id="mySidenav" class="sidenav">
        <a href="index.ejs">Map</a>
        <a href="education.ejs">Education</a>
        <a href="signup.ejs">Subscribe</a>
        <a href="about.ejs">About</a>
    </div>
</div>
