<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/alert.css">
    </head>
    <body>
        <h1 style="text-align: center; color: red;">HIGH FIRE RISK DETECTED</h1>

        <p>We have predicted high fire risk in your area! Here are some steps that you can take to reduce risk and keep your family safe.</p>

        <br>

        <p><a href="/resources/WildfireRiskReductionChecklist.pdf" download><button>Risk Reduction</button></a></p>
        <p><a href="/resources/WildfireEvacuationChecklist.pdf" download><button>Evacuation Planning</button></a></p>
    </body>
</html>