<div class="interactive_picture" style="padding-left: 0; padding-right: 0;">
    <div class="zone2_3" id="polygon"
        onmouseout="changeImage2('/resources/Isometric_Property_-_2.jpg')"
        onmouseover="changeImage2('/resources/Isometric_Property_-_2_-zone_3.jpg')"
        data-toggle="modal" data-target="#zone3Modal">
    </div>
    <div class="zone2_2" id="polygon"
        onmouseout="changeImage2('/resources/Isometric_Property_-_2.jpg')"
        onmouseover="changeImage2('/resources/Isometric_Property_-_2_-_Zone_2.jpg')"
        data-toggle="modal" data-target="#zone2Modal">
    </div>
    <div class="zone2_1" id="polygon"
        onmouseout="changeImage2('/resources/Isometric_Property_-_2.jpg')"
        onmouseover="changeImage2('/resources/Isometric_Property_-_2_-zone_1.jpg')"
        data-toggle="modal" data-target="#zone1Modal">
    </div>

    <img src='/resources/Isometric_Property_-_2.jpg' id="iso_img_2" class="img-fluid"
        alt="">
</div>