<div class="interactive_picture" style="padding-left: 0; padding-right: 0;">
    <div class="zone_3" id="polygon"
        onmouseout="changeImage('/resources/Isometric_Property.jpg')"
        onmouseover="changeImage('/resources/Isometric_Property_-_Zone_3.jpg')"
        data-toggle="modal" data-target="#zone3Modal">
    </div>
    <div class="zone_2" id="polygon"
        onmouseout="changeImage('/resources/Isometric_Property.jpg')"
        onmouseover="changeImage('/resources/Isometric_Property_-_Zone_2.jpg')"
        data-toggle="modal" data-target="#zone2Modal">
    </div>
    <div class="zone_1_2" id="polygon"
        onmouseout="changeImage('/resources/Isometric_Property.jpg')"
        onmouseover="changeImage('/resources/Isometric_Property_-_Zone_1.jpg')"
        data-toggle="modal" data-target="#zone1Modal">
    </div>
    <div class="zone_1_1" id="polygon"
        onmouseout="changeImage('/resources/Isometric_Property.jpg')"
        onmouseover="changeImage('/resources/Isometric_Property_-_Zone_1.jpg')"
        data-toggle="modal" data-target="#zone1Modal">
    </div>

    <img src='/resources/Isometric_Property.jpg' id="iso_img" class="img-fluid"
        alt="">
</div>