<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/education.css">
    </head>
    <body>
        <!--Content-->
        <h1 style="text-align: center;">Education Template Title</h1>

        <p>Education Template Content</p>
    </body>
</html>