<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/education.css">
    </head>
    <body>
        <!--Content-->
        <h1 style="text-align: center;">Resources</h1>

        <h2>Downloadable Checklists</h2>

        <p><a href="/resources/WildfireRiskReductionChecklist.pdf" download><button>Risk Reduction</button></a></p>
        <p><a href="/resources/WildfireEvacuationChecklist.pdf" download><button>Evacuation Planning</button></a></p>

        <h2>Links to other Wildfire resources</h2>

        <p>[links]</p>
    </body>
</html>