<div class="mx-4">
    <!--Content-->
    <h1 style="text-align: center; color: red;">Extended zone</h1>


    <img src="resources/zone3_house.png" class="img-fluid" alt="">

    <p style="font-size: large;  line-height: 1.5;
    width: 100%;
    text-align: left;
    margin-top: 30px;">
        30-100 feet, out to 200 feet. Landscaping – the goal here is not to eliminate fire but to interrupt fire’s path
        and keep flames smaller and on the ground.
    </p>

    <ul style="font-size: large;">
        <li>
            Dispose of heavy accumulations of ground litter/debris.
        </li>
        <li>
            Remove dead plant and tree material.
        </li>
        <li>
            Remove small conifers growing between mature trees.
        </li>
        <li>
            Remove vegetation adjacent to storage sheds or other outbuildings within this area.
        </li>
        <li>
            Trees 30 to 60 feet from the home should have at least 12 feet between canopy tops.
        </li>
        <li>
            Trees 60 to 100 feet from the home should have at least 6 feet between the canopy tops.
        </li>
    </ul>

    <div class="card my-2" >
        <div class="row no-gutters">
            <div class="col-4">
                <a href="https://www.nfpa.org/en/education-and-research/wildfire/preparing-homes-for-wildfire">
                    <img src="/resources/Defensible_Space.jpg" class="card-img" alt="Article Image">
                </a>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <a href="https://www.nfpa.org/en/education-and-research/wildfire/preparing-homes-for-wildfire">
                        <h5 class="card-title" style="text-decoration: none;">Preparing Homes for Wildfire</h5>
                    </a>
                    <p class="card-text" style="line-height: 1.5;
                    width: 100%;
                    text-align: left;
                    margin: auto;">There are methods for homeowners to
                        prepare their homes to withstand ember attacks and minimize the likelihood of flames or surface
                        fire touching the home or any attachments. Experiments, models and post-fire studies have shown
                        homes ignite due to the condition of the home and everything around it, up to 200’ from the
                        foundation. This is called the Home Ignition Zone (HIZ).</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="row no-gutters">
            <div class="col-4" style="background-color: gray;">
                <a href="https://wildfirerisk.org/reduce-risk/">
                    <img src="/resources/reduce_risk.png" class="card-img" alt="Article Image">
                </a>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <a href="https://wildfirerisk.org/reduce-risk/">
                        <h5 class="card-title" style="text-decoration: none;">Reduce Risk</h5>
                    </a>
                    <p class="card-text" style="line-height: 1.5;
                    width: 100%;
                    text-align: left;
                    margin: auto;">Communities can take steps to reduce and manage risk and become better fire-adapted. Find tools and resources to help mitigate wildfire risk in your community.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card my-2">
        <div class="row no-gutters">
            <div class="col-4" style="background-color: gray;">
                <a href="https://wildfiremitigation.tees.tamus.edu/faqs/how-power-lines-cause-wildfires">
                    <img src="/resources/powerline_fire.png" class="card-img" alt="Article Image">
                </a>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <a href="https://wildfiremitigation.tees.tamus.edu/faqs/how-power-lines-cause-wildfires">
                        <h5 class="card-title" style="text-decoration: none;">HOW DO POWER LINES CAUSE WILDFIRES?</h5>
                    </a>
                    <p class="card-text" style="line-height: 1.5;
                    width: 100%;
                    text-align: left;
                    margin: auto;">Power lines have caused more than 4,000 wildfires in Texas in the past three and a half years. Power lines can ignite wildfires through a variety of mechanisms.</p>
                </div>
            </div>
        </div>
    </div>
</div>