<div class="mx-4">
    <!--Content-->
    <h1 style="text-align: center; color: red;">Intermediate zone</h1>

    <img src="resources/zone2_house.png" class="img-fluid" alt="">

    <p style="font-size: large;  line-height: 1.5;
    width: 100%;
    text-align: left;
    margin-top: 30px;">
        5-30’ from the furthest exterior point of the home. Landscaping/hardscaping- employing careful landscaping
        or
        creating breaks that can help influence and decrease fire behavior
    </p>

    <ul style="font-size: large;">
        <li>
            Clear vegetation from under large stationary propane tanks.
        </li>
        <li>
            Create fuel breaks with driveways, walkways/paths, patios, and decks.
        </li>
        <li>
            Keep lawns and native grasses mowed to a height of four inches.
        </li>
        <li>
            Remove ladder fuels (vegetation under trees) so a surface fire cannot reach the crowns. Prune trees up
            to six to
            ten feet from the ground; for shorter trees do not exceed 1/3 of the overall tree height.
        </li>
        <li>
            Space trees to have a minimum of eighteen feet between crowns with the distance increasing with the
            percentage
            of slope.
        </li>
        <li>
            Tree placement should be planned to ensure the mature canopy is no closer than ten feet to the edge of
            the
            structure.
        </li>
        <li>
            Tree and shrubs in this zone should be limited to small clusters of a few each to break up the
            continuity of the
            vegetation across the landscape.
        </li>
    </ul>

    <h4>Learn more by visiting the links below:</h4>
    <div class="card my-2" >
        <div class="row no-gutters">
            <div class="col-4">
                <a href="https://www.nfpa.org/en/education-and-research/wildfire/preparing-homes-for-wildfire">
                    <img src="/resources/Defensible_Space.jpg" class="card-img" alt="Article Image">
                </a>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <a href="https://www.nfpa.org/en/education-and-research/wildfire/preparing-homes-for-wildfire">
                        <h5 class="card-title" style="text-decoration: none;">Preparing Homes for Wildfire</h5>
                    </a>
                    <p class="card-text" style="line-height: 1.5;
                    width: 100%;
                    text-align: left;
                    margin: auto;">There are methods for homeowners to
                        prepare their homes to withstand ember attacks and minimize the likelihood of flames or surface
                        fire touching the home or any attachments. Experiments, models and post-fire studies have shown
                        homes ignite due to the condition of the home and everything around it, up to 200’ from the
                        foundation. This is called the Home Ignition Zone (HIZ).</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="row no-gutters">
            <div class="col-4" style="background-color: gray;">
                <a href="https://wildfirerisk.org/reduce-risk/">
                    <img src="/resources/reduce_risk.png" class="card-img" alt="Article Image">
                </a>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <a href="https://wildfirerisk.org/reduce-risk/">
                        <h5 class="card-title" style="text-decoration: none;">Reduce Risk</h5>
                    </a>
                    <p class="card-text" style="line-height: 1.5;
                    width: 100%;
                    text-align: left;
                    margin: auto;">Communities can take steps to reduce and manage risk and become better fire-adapted. Find tools and resources to help mitigate wildfire risk in your community.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card my-2">
        <div class="row no-gutters">
            <div class="col-4" style="background-color: gray;">
                <a href="https://wildfiremitigation.tees.tamus.edu/faqs/how-power-lines-cause-wildfires">
                    <img src="/resources/powerline_fire.png" class="card-img" alt="Article Image">
                </a>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <a href="https://wildfiremitigation.tees.tamus.edu/faqs/how-power-lines-cause-wildfires">
                        <h5 class="card-title" style="text-decoration: none;">HOW DO POWER LINES CAUSE WILDFIRES?</h5>
                    </a>
                    <p class="card-text" style="line-height: 1.5;
                    width: 100%;
                    text-align: left;
                    margin: auto;">Power lines have caused more than 4,000 wildfires in Texas in the past three and a half years. Power lines can ignite wildfires through a variety of mechanisms.</p>
                </div>
            </div>
        </div>
    </div>
</div>