body {
    font-family: "Inter", sans-serif;
}

p {
    line-height: 1.5;
    width: 50%;
    text-align: center;
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
}

.centered {
    margin: auto;
    justify-content: center;
    display: flex;
}

.interactive_picture {
    position: relative;
    display: inline-block;
    padding: 0%;
}

.scrollable-column {
    overflow-y: auto; 
    max-height: calc(100vh - 100px);
}

.shape {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    transition: background-color 0.3s ease;
}

.shape:hover {
    background-color: red;
}

.polygon-container {
    position: absolute;
    width: 300px;
    height: 300px;
}

.polygon:hover {
    background-color: red;
}

.polygon {
    transition: background-color 0.3s ease;
    border: 2px solid #333;

}

.ht1000 {
    height: 1000px;
}

.red {
    background-color: red;
}

.zone_1_2 {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    clip-path: polygon(38% 39%, 44% 35%, 77.8% 43.4%, 83.6% 47.4%, 67.3% 59%);
}

.zone_1_1 {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    clip-path: polygon(7.1% 47.1%, 14.5% 42.6%, 33.3% 40%, 39.2% 44.2%, 20.7% 56.2%);
}

.zone_2 {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    clip-path: polygon(0% 62.45%, 23.86% 78.9%, 45.64% 64.59%, 67.24% 79.1%, 100% 56.69%, 100% 37.5%, 54.72% 7.27%, 34.91% 20.6%, 25.51% 14.55%, 0% 31.4%);
}

.zone_3 {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
}






.zone2_1 {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    clip-path: polygon(28.66% 34.52%, 18.30% 42.18%, 48.93% 62.59%, 73.20% 46.2%, 67.2% 42.4%);
}

.zone2_2 {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    clip-path: polygon(0% 33.3%, 0% 54.4%, 45.4% 85%, 100% 48.9%, 100% 43.5%, 67.1% 21.6%, 67.24% 42.4%, 73.2% 46.24%,  48.9% 62.59%,  18.3% 42.18%,  28.66% 34.5%,  21.3% 36.3%, 18% 33.8%,  14.8% 35.9%, 5.6% 29.7%);
}

.zone2_3 {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
}